# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
metadata
sdist
specs
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
htmlcov/
nosetests.xml
pylintrc
docker-compose.override.yml

# Environment variables
.env

# Virtual Environment
venv/
ENV/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db
